@media only screen and (max-width: 600px)  {
   p {
        font-size: 14px !important;
   }

   .card-text {
        font-size: 14px !important;
   }
}

@media only screen and (min-width: 576px) {
    .container-1558 {
        max-width: 540px;
    }

    .career .widget-animation .img {
        max-height: 180px;
    }
}

@media only screen and (min-width: 600px) {


    .hero-header .business-unit li {
        font-size: 1rem;
    }

    .top-feature .swiper-button-prev {
        left: -5%;
    }
    .top-feature .swiper-button-next {
        right: -5%;
    }

    .part .widget::before {
        content: "";
        background: var(--primary);
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        top: 0;
        transition: .3s;
    }
    
    .part .widget:hover::before {
        width: 925px;
    }

    .engine .list {
        padding-top: 3rem;
    }

    .engine .list li {
        font-size: 1.1rem;
    }

   
}

@media only screen and (min-width: 768px)  {
    .container-1558 {
        max-width: 720px;
    }

    .hero-header {
        background-image: url(../img/hero-home-ipad.webp);
    }

    .part .content .card-text {
        font-size: 1rem;
        line-height: 1.2;
    }

    .career .widget-animation .img {
        max-height: 250px;
    }
    
}

@media only screen and (min-width: 992px) {
    .container-1558 {
        max-width: 1558px;
    }
    
    .navbar {
        padding: 1rem 0 !important;
    }

    /* .navbar::before {
        content: "";
        background: var(--primary);
        position: absolute;
        width: calc(100% - 650px);
        height: 75px;
        right: 0;
        top: 40px;
        z-index: -1;
        border-radius: 10px 0 0 10px;
        transition: .3s;
    } */

    /* .navbar.shadow-sm::before {
        width: 355px;
      } */

    .navbar .logo {
        display: block;
    }

    .navbar>.container-1558 {
        padding-left: 2rem !important;
    }

    .navbar .menu-bar .navbar-logo {
        display: none !important;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 12px;
        padding: .5rem .5rem;
    }

    .navbar.shadow-sm .navbar-brand {
        display: block !important;
    }


    .navbar .top-contact {
        background: none;
    }
    


    .hero-header {
        background-image: url(../img/hero-home.webp);
    }


    .main-service .widget .main-title {
        font-size: 1rem;
      }

      .career .widget-animation .img {
        max-height: 220px;
    }
    
}



@media only screen and (min-width: 1100px)  {
    .navbar>.container-1558 {
        padding-left: 5rem !important;
    }
}

@media only screen and (min-width: 1200px)  {

    /* .navbar::before {
        width: calc(100% - 850px);
    } */

    .navbar .navbar-nav .nav-link {
        font-size: 14px;
        padding: .5rem 1rem;
    }

    .navbar.shadow-sm .navbar-nav .nav-link {
        font-size: 13px;
        padding: 10px 12px;
    }

    .career .widget-animation .img {
        max-height: 250px;
    }

    
}



@media only screen and (min-width: 1400px)  {

    .navbar>.container-1558 {
        padding-left: 5rem !important;
    }

    /* .navbar::before {
        width: calc(100% - 1035px);
    } */

    .navbar .navbar-nav .nav-link {
        font-size: 16px;
    }
}



@media only screen and (min-width: 576px) and (max-width: 991px) {
    .main-service .widget .main-title {
        padding: 1rem 0.5rem;
      }
}
