@media only screen and (max-width: 600px)  {
   
}

@media only screen and (min-width: 600px) {
    .hero-header .business-unit li {
        font-size: 1rem;
    }

    .top-feature .swiper-button-prev {
        left: -5%;
    }
    .top-feature .swiper-button-next {
        right: -5%;
    }

    .part .widget::before {
        content: "";
        background: var(--primary);
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        top: 0;
        transition: .3s;
    }
    
    .part .widget:hover::before {
        width: 925px;
    }

    .engine .list {
        padding-top: 3rem;
    }

    .engine .list li {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 768px)  {
    .hero-header {
        background-image: url(../img/hero-home-ipad.png);
    }

    .part .content .card-text {
        font-size: 1rem;
        line-height: 1.2;
    }
    
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 1rem 0 !important;
    }

    .navbar::before {
        content: "";
        background: var(--primary);
        position: absolute;
        width: calc(100% - 650px);
        /* width: 340px; */
        height: 75px;
        right: 0;
        top: 40px;
        z-index: -1;
        border-radius: 10px 0 0 10px;
        transition: .3s;
    }

    .navbar .logo {
        display: block;
    }

    .navbar .menu-bar .navbar-logo {
        display: none !important;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 12px;
        padding: .5rem 1rem;
    }

    .navbar.shadow-sm .navbar-brand {
        display: block !important;
    }
    


    .hero-header {
        background-image: url(../img/hero-home.png);
    }


    .main-service .widget .main-title {
        font-size: 1rem;
      }
    
}


@media only screen and (min-width: 1050px)  {
    .navbar::before {
        width: calc(100% - 685px);
    }
}

@media only screen and (min-width: 1120px)  {
    .navbar::before {
        width: calc(100% - 715px);
    }
}

@media only screen and (min-width: 1200px)  {
    .navbar::before {
        width: calc(100% - 850px);
    }

    .navbar .navbar-nav .nav-link {
        font-size: 14px;
    }

    .navbar.shadow-sm .navbar-nav .nav-link {
        font-size: 13px;
        padding: 10px 12px;
    }

    
}

@media only screen and (min-width: 1300px)  {
    .navbar::before {
        width: calc(100% - 900px);
    }
}

@media only screen and (min-width: 1400px)  {
    .navbar::before {
        width: calc(100% - 1035px);
    }

    .navbar .navbar-nav .nav-link {
        font-size: 16px;
    }
}


@media only screen and (min-width: 1500px)  {
    .navbar::before {
        width: calc(100% - 1085px);
    }
}


@media only screen and (min-width: 576px) and (max-width: 991px) {
    .main-service .widget .main-title {
        padding: 1rem 0.5rem;
      }
}
